.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 600;
}

.Container {
  background-color: black;
  padding: 20px;
  border-radius: 30px;
}

.Display {
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 15px;
}

.Output {
  font-size: 0.75em;
  text-align: right;
  margin-bottom: 15px;
}

.Buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.Btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(85, 80, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
}
.Btn:hover {
  filter: brightness(110%);
}
.Btn:active {
  transform: scale(1.1);
}
.Btn.Zero {
  width: auto;
  grid-column: 1 /3;
}
.Btn.Orange {
  background-color: rgb(255, 153, 0);
}
.Btn.Gray {
  background-color: rgb(150, 142, 129);
  color: #000;
}
.Btn svg {
  width: 30px;
}
